.App {
  text-align: center;
}

body {
  background: #f7d718;
}

#title {
  margin: 5px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid black;
  position: fixed;
  z-index: 100;
  width: 100%;
  background: #f7d718;
}

nav a {
  color: black;
  text-decoration: none;
}

.active {
  font-weight: bolder;
}

.content {
  padding-top: 70px;
}

.games_list {
  list-style-type: none;
  padding: 20px;
}

.games_list img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

.games_game{
  border-bottom: solid black;
  display: block;
  margin: 5px;
  background: white;
}

.games_game a {
  text-decoration: none;
  color: black;
}

.inner {
  display: flex;
  align-items: center;
}

.inner h4 {
  /* align-self: flex-end; */
}
